body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f4ea;
  color: #2e4d2c;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #388e3c;
  color: white;
  text-align: center;
  z-index: 1000;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.instagram-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.instagram-link img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.instagram-link img:hover {
  transform: scale(1.1);
}
.imagem-banner {
  margin-top: 80px; /* Ajuste conforme a altura real do header */
}

header h1 {
  margin: 0.5rem 0;
}

.imagem-banner {
  display: flex;
  justify-content: center;
  margin-top: 125px; /* espaço abaixo do header fixo */
}
.imagem-banner img {
  width: 100%;
  max-width: 900px; /* Ajustável conforme seu gosto */
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


nav {
  margin: 1rem 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  
}

.caixa {
  background-color: #ffffff;
  border-left: 8px solid #66bb6a;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 100, 0, 0.1);
}

.caixa h2 {
  margin-top: 0;
  color: #2e7d32;
}

ul {
  padding-left: 1.2rem;
}

footer {
  text-align: center;
  background-color: #2e7d32;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
#btnTopo {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 100;
  background-color: #388e3c;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.botao {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.botao:hover {
  background-color: #246e46;
}
#bibliografia {
  padding: 45px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 30px auto;
  max-width: 800px;
}

#bibliografia h2 {
  color: #2e8b57;
  font-size: 24px;
  margin-bottom: 15px;
}

#bibliografia ul {
  list-style-type: square;
  padding-left: 20px;
}

#bibliografia li {
  margin-bottom: 10px;
  line-height: 1.6;
}

#bibliografia a {
  color: #0f62b6;
  text-decoration: none;
}

#bibliografia a:hover {
  text-decoration: underline;
}
.grafico-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
